.inp1 {
  width: 400px;
  border-radius: 10px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  opacity: 1;
  border: none;
  background: #1d2123;
}
.firstdiv {
  display: flex;
  justify-content: space-between;
  width: 480px;
  padding: 20px;
}
.icondiv {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr; */
  background-color: green;
  justify-content: space-evenly;
  width: 30px;
  padding: 10px;
  height: 200px;
  column-gap: 20px;
border-radius: 30px;
margin-top: 20px;
margin-left: 15px;
}
.icondiv > img {
    margin: 0 auto;
}
.icon2div{
    background-color: red;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    background-color: green;
    justify-content: space-evenly;
    width: 30px;
    padding: 10px;
    height: 100px;
    column-gap: 20px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 15px;
}
.icon2div > img {
    width: 23px;
    margin-left: 5px;
}
.section1{
  background-color: #1D2123;
    
}
.picturediv{
    background-color: #609EAF;
    width: 680px;
    height: 370px;
    border-radius: 30px;
    position: relative;
    /* padding: 10px; */
    margin-top: 20px;
}
.parentdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    width: 800px;
    /* height: 700px; */
    position: fixed;
   background-color: #1D2123;

}
.net{
    position: absolute;
    left: 179px;
    top: 2px;
    border-radius: 25px;
    
}
.singer{
    position: absolute;
    left: 320px;
    /* background-color: bisque; */
    bottom: 0px;
    width: 340px;
}
.text1{
    background-color: bisque;
    width: 100px;
font-family: Quicksand;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
position: absolute;
left: 45px;
top: 20px;

}
.p1{
    width: 250px;
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
/* line-height: 42px; */
/* letter-spacing: 0em; */
text-align: left;

}
.RBdiv{
 position: absolute;
 top: 50px;
 padding: 20px;
}