.inp1 {
  width: 400px;
  border-radius: 10px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  opacity: 1;
  border: none;
  background: #1d2123;
}
.firstdiv {
  display: flex;
  justify-content: space-between;
  width: 480px;
  padding: 20px;
}
.icondiv {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr; */
  background-color: green;
  justify-content: space-evenly;
  width: 30px;
  padding: 10px;
  height: 200px;
  column-gap: 20px;
border-radius: 30px;
margin-top: 20px;
margin-left: 15px;
}
.icondiv > img {
    margin: 0 auto;
}
.icon2div{
    background-color: red;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    background-color: green;
    justify-content: space-evenly;
    width: 30px;
    padding: 10px;
    height: 100px;
    column-gap: 20px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 15px;
}
.icon2div > img {
    width: 23px;
    margin-left: 5px;
}
.section1{
  background-color: #1D2123;
  height: 100vh;
    
}
.picturediv{
    background-color: #609EAF;
    width: 680px;
    height: 370px;
    border-radius: 30px;
    position: relative;
    /* padding: 10px; */
    margin-top: 20px;
}
.parentdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    /* height: 700px; */
    position: fixed;
   background-color: #1D2123;

}
.net{
    position: absolute;
    left: 179px;
    top: 2px;
    border-radius: 25px;
    
}
.singer{
    position: absolute;
    left: 320px;
    /* background-color: bisque; */
    bottom: 0px;
    width: 340px;
}
.text1{
/* background-color: bisque; */
width: 100px;
font-family: Quicksand;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
position: absolute;
left: 45px;
top: 20px;

}
.p1{
    width: 250px;
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
/* line-height: 42px; */
/* letter-spacing: 0em; */
text-align: left;

}
.Pictures{
  position: absolute;
  top: 320px;
  left: 50px;
}
.Likes{
  position: absolute;
  top: 323px;
  left: 130px;
}
.RBdiv{
 position: absolute;
 top: 50px;
 padding: 20px;
}
.secondiv{
  /* background-color: antiquewhite; */
  width: 400px;
  padding: 10px;
  /* background: #1A1E1F; */
  

}
.song1div{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  height: 100px;
  width: 300px;
  background: #1E1E1E;
  /* padding: 5px; */
}
.song1textdiv{
  height: 10px;
  width: 150px;
  /* background-color: aquamarine; */
}
.song1textdiv > p {
  margin: 0;
}
.song1textdiv > h5 {
  margin: 0;
}
.heart{
  /* background-color: red; */
  margin: 0 auto;
  text-align: center;
  margin-left: 1px;
  margin-top: 1px;
  
}
.heartdiv{
  /* background-color: aquamarine; */
  margin-top: 13px;
  width: 20px;
  border-radius: 80px;
  padding: 5px;
  height: 20px;
  clip-path: circle(20px);
  border: 1px solid #FACD66;
}